<%- include('layouts/header.ejs') %>
<body>
    <div class="dashboard-container">
        <div class="sidebar">
            <i class="fa-solid fa-house icon" onclick="showMainContent('Homecontent')"></i>
            <i class="fa-solid fa-users icon" onclick="showMainContent('friendContent')"></i>
            <i class="fa-solid fa-comments icon" onclick="showMainContent('messageContent')"></i>
            <i class="fa-solid fa-id-badge icon" onclick="showMainContent('userInfoContent')"></i>
        </div>

        <div class="main-content">
            <div id="Homecontent"class="content-display">
                <h4>Welcom <%= username %></h4>
            </div>
            <div id="friendContent" class="content-display">
                <ul class="friend-list">
                    <% users.forEach(user => { %>
                        <li class="friend-item">
                            <%= user %>   
                            <i class="fa-solid fa-video icon" onclick="callUser(`<%= user %>`)"></i>
                        </li>         
                    <% }); %>
                   
                </ul>
            </div>
            <div id="messageContent" class="content-display">
                <!-- Message content goes here -->
                <ul class="friend-list">
                    <% users.forEach(user => { %>
                    <li class="friend-item">
                            <%= user %>
                            lassmessage
                    </li>     
                    <% }); %>
                </ul> 
            </div>
            <div id="userInfoContent" class="content-display">
                <!-- User Info content goes here -->
                <ul class="friend-list">
                    <h4> <%= username %></h4>

                    <li class="friend-item"> 
                        <i class="fa-solid fa-address-card "></i>
                    </li>
                    <li class="friend-item">
                        <a href="/logout"> dang xuat</a>
                        <!-- <i class="fa-solid fa-right-to-bracket icon" href></i> -->
                    </li>
                </ul>
            </div>
        </div>
        <div id="video-chat-form">
            <div id="video-chat-rooms">
                <video id="local-video"autoplay playsinline></video>
                <video id="peer-video"autoplay playsinline></video>
            </div>
            <div id="btn-group" style="display: none;">
                <button id="muteButton">Tắt tiếng</button>
                <button id="leaveButton">Tắt</button>
                <button id="hideButton">Tắt Cam </button>
            </div>
        </div>
    </div>
<script>
    function showMainContent(contentId) {
        var contents = document.querySelectorAll('.content-display');
        contents.forEach(function (content) {
            content.style.display = 'none';
        });
        var activeContent = document.getElementById(contentId);
        activeContent.style.display = 'block';
    }
    const userLoggin=`<%=username%>`;
</script>
<script src="./js/client.js"></script>
</body>
<%- include('layouts/footer.ejs') %>
