<%- include('layouts/header.ejs') %>
<body>
    <div class="dashboard-container">
        <div class="sidebar">
            <i class="fa-solid fa-house icon" onclick="showMainContent('Homecontent')"></i>
            <i class="fa-solid fa-users icon" onclick="showMainContent('friendContent')"></i>
            <i class="fa-solid fa-comments icon" onclick="showMainContent('messageContent')"></i>
            <i class="fa-solid fa-id-badge icon" onclick="showMainContent('userInfoContent')"></i>
        </div>

        <div class="main-content">
            <!-- home -->
            <div id="Homecontent"class="content-display">
                <h4 >Welcom <%= username %></h4>
            </div>
            <!-- list friend -->
            <div id="friendContent" class="content-display">
                <ul class="friend-list" >
                    <% users.forEach(user => { %>
                        <li class="friend-item" >
                            <span class="username" onclick="showChatContainer('<%= user %>')">
                                <%= user %>
                           </span>
                    <% }); %>
                </ul>
            </div>
            <!--List  message -->
            <div id="messageContent" class="content-display">
                <ul class="friend-list">
                    <% users.forEach(user => { %>
                        <li class="friend-item">
                            <span class="username" onclick="showChatContainer('<%= user %>')">
                                 <%= user %>
                            </span>
                        </li>
                    <% }); %>
                </ul>
            </div>
              <!--user information -->
            <div id="userInfoContent" class="content-display">
                <ul class="friend-list">
                    <h4> <%= username %></h4>
                    <li class="friend-item"> 
                        <i class="fa-solid fa-address-card "></i>
                    </li>
                    <li class="friend-item">
                        <a href="/logout"> dang xuat</a>
                    </li>
                </ul>
            </div>
        </div>
        <!--Call video -->
        <div id="video-container">
            <div id="video-chat-rooms">
                <video id="local-video"autoplay muted></video>
                <video id="remote-Video"></video>
            </div>
            <div id="btn-group" style="display: none;">
                <button id="muteButton">Tắt tiếng</button>
                <button id="leaveButton">Tắt</button>
                <button id="hideButton">Tắt Cam </button>
            </div>
        </div>
    </div>
    <div id="chatContainer" class="content-display">
        <i class="fa-solid fa-video icon" onclick="callUser()"></i>

        <div id="chatHeader">
        </div>
        <div id="messageContent">
            <ul id="chatMessages" class="friend-list">
                <!-- show message -->
            </ul>
        </div>
        <div id="chatInput">
            <textarea id="messageInput" placeholder="Type your message..."></textarea>
            <textarea id="target" style="display: none;"></textarea>
            <button id="sendMessage" onclick="sendMessage()">Send</button>
        </div>
    </div>
<script> 
    const userLoggin=`<%=username%>`;
</script>

<script src="./js/client.js"></script>
</body>

<%- include('layouts/footer.ejs') %>
